$button-color: #759eb8;
$button-color-hover: #5189ac;
$text-color: #eff7ff;
$navbar-color: #759eb8;
$button-dropdown-content: #ffb100;
$button-dropdown-header-text: #00323d;
$button-navbar: #0b3954;
$col-even: #5189ac;
$col-odd: #00323d;
