.navbar {
  display: flex;
  flex-direction: column;
  flex: 1;
  // padding: 1rem;

  hr {
    height: 1rem;
    width: 100%;
    border: none;
    background-color: #fafbff;
  }

  &-dropdown {
    font-size: 1rem;
    border-bottom: 1px solid #dddddd;
    padding-top: 1rem;
    // padding-left: 1rem;
    width: 100%;
    text-align: start;
    overflow: hidden;

    &-content {
      display: flex;
      flex-direction: column;
    }

    &-header {
      display: flex;
      flex-direction: column;

      button {
        margin-bottom: 1rem;
        flex: 1;
        display: flex;
      }

      a {
        button {
          color: #333;
          text-transform: none;
        }
      }
    }

    button {
      cursor: pointer;
      font-size: 1rem;
      border: none;
      background: none;
      text-align: start;
      color: #46627f;
      padding: 0 0.5rem;

      &:disabled {
        color: #dddddd;
      }
    }

    svg {
      margin-left: auto;
      font-size: 1rem;
    }
  }
}
