@import './colors';

.navbar {
  display: flex;
  flex-direction: column;
  width: 25rem;
  font-family: 'Baloo 2', cursive;
  background-color: $navbar-color;
  text-align: center;
  // padding: 1rem;

  button {
    display: inline-block;
    background-color: #37748c;
    color: #fff;
    padding: 0.5rem 2rem;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    outline: none;
    transition: all 0.2s ease-in;
    width: 100%;
    img {
      margin-right: 1rem;
    }

    &:hover {
      background-color: #345259 !important;
    }
  }

  .form-group {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    input {
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      padding: 0.5rem 0.25rem;
      font-size: 1rem;
      text-align: center;
    }
  }

  &-dropdown {
    font-size: 1.75rem;
    margin-top: 1rem;
    width: 100%;
    text-align: start;
    overflow: hidden;

    &-content {
      display: flex;
      flex-direction: column;

      button {
        cursor: pointer;
        font-size: 1.5rem;
        background-color: $button-dropdown-content !important;
        border: none;
        background: none;
        text-align: start;
        font-weight: bold;
        padding: 0.75rem 2rem;
        align-items: center;
        color: $text-color;
        margin: 0.5rem 0 0;
        width: 80%;
        border-radius: 0 4rem 4rem 0;
        justify-content: space-between;

        &:disabled {
          background-color: #f2f2f2 !important;
        }
        &:hover {
          color: #333;
          background-color: #f2f2f2 !important;
        }
      }
    }

    &-header {
      display: flex;
      flex-direction: column;

      a {
        button {
          font-size: 1.5rem;
          display: flex;
          padding: 0.5 1rem;
          font-weight: bold;
          color: $button-dropdown-header-text;
          text-transform: none;
          border-radius: 0 4rem 4rem 0;
          background-color: rgba(0, 50, 61, 0.3);
          border: none;

          &.active {
            border-left: 0.75rem solid #00323d !important;
          }
          &:hover {
            background-color: #f2f2f2 !important;
          }
          &:disabled {
            background-color: #f2f2f2 !important;
          }
        }
      }
    }

    svg {
      margin-left: auto;
      font-size: 1rem;
    }
  }
}
